/boards/easyarm-rt1052/awtk_examples/awtk_gui_demo/mdk/flexspi_nor_sdram_debug/*.*
/boards/easyarm-rt1052/awtk_examples/awtk_gui_demo/mdk/output/*.*
/boards/easyarm-rt1052/awtk_examples/awtk_gui_demo/mdk/JLinkLog.txt
